{% extends 'home/base.html' %}
{% load static %}
{% block title %} Transactions details | {{ block.super }}{% endblock title %}

{% block content %}
<div class="page-header">
    <h2 class="text-center"><b>Interest Details</b></h2>
</div>

{% include "home/messages.html" %}

<div class="row">
    <div class="col-xs-12 col-md-8 text-left">
        <h4><b>Account Name: </b>{{ user.full_name }}</h4>
        <h4><b>Account No: </b>{{ user.account_no }}</h4><br><br>
    </div>
    <div class="col-xs-6 col-md-4 text-left">
        <div class="well">
            <h4 class="card"><b>Account Balance: </b>₹{{ user.balance }}</h4>
            <a class="btn btn-success" href="{% url 'transactions:deposit' %}">Deposit</a>
            <a class="btn btn-danger" href="{% url 'transactions:withdrawal' %}">Withdraw</a>
        </div>
    </div>
</div>
<hr>
<h3>Interest Details</h3>
<table class="table table-hover table-bordered">
    <thead>
    <tr>
        <th>Sr.no</th>
        <th>Date / Time</th>
        <th>Details</th>
        <th>Amount (₹)</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        {% for obj in page_obj %}
        <th scope="row">{{forloop.counter}}</th>
        <td>{{ obj.timestamp }}</td>
        <td>{{ obj.status }}</td>
        <td>{{ obj.amount }}</td>
    </tr>
    {% endfor %}
    <tr>
        <th class="text-right" scope="row" colspan="3">Total</th>
        <td>{{ interest_sum }}</td>
    </tr>
    </tbody>
</table>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; First / </a>
                <a href="?page={{ page_obj.previous_page_number }}">Previous / </a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next / </a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
            {% endif %}
        </span>
    </div>
<hr>
{% endblock content %}
